body {
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
    color: #000;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: .5em;
    border-color: dodgerblue;
    border-width: 3px;
}

li:hover {
    background-color: #D3D3D3;
}

.navbar li a {
    font-size: 1.2em;
}

.navbar-brand {
    margin: 0;
    padding: 15px 30px;
    font-size: 1.5em;
}

#brand {
    color: #fff;
}

#brand:hover {
    color: dodgerblue;
}

.nav.navbar-nav.navbar-right li a,
.footer {
    color: dodgerblue;
}

.image:hover > a > img {
    opacity: 0.2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.sectionTitles {
    color: black;
    font-size: 40px;
}

.about-section {
    background-image: url("../images/ilya-pavlov-87438.jpg");
    /* Photo by Ilya Pavlov on Unsplash */
    background-size: cover;
    height: 700px;
}

.well {
    margin-top: 8px;
    border-width: 3px;
    border-color: dodgerblue;
    background-color: #D3D3D3;
}

.portfolio-section {
    background-color: #fff;
}

.other-section {
    background-color: #D3D3D3;
}

#about,
#portfolio,
#other,
#contact {
    padding-top: 116px;
    padding-right: 12px;
    padding-left: 12px;
}

.footer {
    background: #111;
    bottom: 0;
    height: 55px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-top: 0px;
    width: 100%;
    overflow: hidden;
}

.social {
    text-decoration: none;
    color: #000;
}

.rrg {
    width: 30%;
    height: 25%;
    border-style: solid;
    border-radius: 3.6em;
    border-color: dodgerblue;
    border-width: 3px;
    margin: 0 auto;
}

.image {
    height: 100%;
    width: auto;
    margin: auto;
    position: relative;
}

.text {
    padding-top: 24px;
    height: 90%;
    font-size: 1.5em;
    color: #000;
    position: absolute;
    visibility: hidden;
    top: 10%;
    border-bottom-style: solid;
    border-bottom-color: #000;
    border-bottom-width: 4px;
}

.image:hover .text {
    visibility: visible;
}


.text-hover {
    margin-bottom: 12px;
}

button {
    background-color: dodgerblue;

}
.output{
    margin-top:8px;
    margin-right: 24px;
    margin-left: 24px;
}
.descript{
    margin-bottom:4px;
}
.btn-group{
    margin-bottom: 4px;
}