body {
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
    color: white;
}

img {
    width: 100%;
    height: 100%;
    border-style: solid;
    border-radius: .5em;
    border-color: dodgerblue;
    border-width: 3px;
}

.sectionTitles,
.nav.navbar-nav.navbar-right li a,
.footer {
    color: dodgerblue;
}

.image:hover > a > img {

    opacity: 0.3;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.sectionTitles {
    text-decoration: underline;
    font-size: 40px;
}

.about-section {
    background-color: black;
}

.well {
    margin-top: 8px;
    border-width: 3px;
    border-color: dodgerblue;
    background: grey;
}

.portfolio-section {
    background-color: #27332F;
}

.other-section {
    background-color: #34282C;
}

#about {
    padding-top: 60px;
    padding-right: 12px;
    padding-left: 12px;
}

.photoTitle {
    text-decoration: underline;
    margin-top: 8px;
    font-size: 18px;
}

.footer {
    background: #111;
    bottom: 0;
    height: 55px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-top: 0px;
    width: 100%;
    overflow: hidden;
}

.social {
    text-decoration: none;
    color: white;
}

.rrg {
    width: 180px;
    height: 250px;
    border-style: solid;
    border-radius: 3.6em;
    border-color: dodgerblue;
    border-width: 3px;
}

.image {
    margin:auto;
    position: relative;
    height:80%;
    width:80%;
}

.text {
    font-size: 1.5em;
    color: white;
    position: absolute;
    visibility: hidden;
    top:10%;
    
}

.image:hover .text {
    visibility: visible;
}

