body {
	padding-top:30px;
    padding-bottom: 20px;
    background: lightgray;
}

#photo {
    height: 350px;
    width: 600px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-bottom: 8px;
}
#name{
	color:blue;
}

#about {
    margin-top: 30px;
}

#portfolio {
    margin-top: 30px;
}

#contact {
    margin-top: 30px;
}

.sectionTitles {
    color: slategray;
    font-size: 36px;
}

.well {
    margin-left: 8px;
    margin-right: 8px;
}

.photoTitle {
    font-size: 18px
}

